/*
styles.css
*/

body {
    font-family: 'Assistant', sans-serif;
    padding: 40px;
    margin: 0;
    color: #222;
}

p {
    max-width: 800px;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

#books_gallery, #misc_gallery {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

#books_gallery a, #misc_gallery a, #books_gallery span {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
    #books_gallery a img, #misc_gallery a img, #books_gallery span {
      height: 150px;
    }
}


/*
#books_gallery, #misc_gallery {
  display: flex;
  flex-wrap: wrap;
}

#books_gallery a, #misc_gallery a, #books_gallery span {
  height: 300px;
  flex-grow: 1;
  margin: 10px;
}

#books_gallery span:last-child, #misc_gallery span:last-child {
  flex-grow: 12;
}

#books_gallery a img, #misc_gallery a img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
*/
